.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.more {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 32px;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--foreground-color));
    border-radius: var(--border-radius);
    padding: 10px 0;
}
