.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.buttonGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.templates {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}