.button {
    --color: var(--accent-color);
    --background-color: var(--foreground-color);
    width: 100%;
    padding: 16px;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    background-color: rgb(var(--background-color));
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: rgb(var(--color));
    outline: none;
    cursor: pointer;
    touch-action: manipulation;
    transition: background-color var(--transition-duration), color var(--transition-duration), border var(--transition-duration);
}

.accent {
    --color: var(--primary-color);
    --background-color: var(--accent-color);
}

.income {
    --color: var(--primary-color);
    --background-color: var(--income-color);
}

.expense {
    --color: var(--primary-color);
    --background-color: var(--expense-color);
}

.transparent {
    --color: var(--background-color);
    background-color: rgba(var(--background-color), 0.25);
}

.button:hover, .button:focus {
    background-color: rgba(var(--background-color), 0.8);
    border-color: rgb(var(--background-color));
}

.transparent:hover, .transparent:focus {
    background-color: rgba(var(--background-color), 0.35);
    border-color: rgba(var(--background-color), 0.2);
}

.button:active {
    background-color: rgba(var(--background-color), 1);
}

.transparent:active {
    background-color: rgba(var(--background-color), 0.4);
}

.button:disabled {
    color: rgba(var(--color), 0.4);
    background-color: rgba(var(--background-color), 0.15);
    cursor: not-allowed;
}

.button:disabled:hover {
    border-color: transparent;
}

.button.link {
    --color: var(--secondary-color);
    background-color: transparent;
}

.button.link:hover, .button.link:focus {
    background-color: rgba(var(--color), 0.07);
    border-color: rgba(var(--color), 0.07);
}

.button.link:active {
    background-color: rgba(var(--color), 0.12);
}