.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: rgb(var(--foreground-color));
    border-radius: var(--border-radius);
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(var(--input-color));
    border-radius: var(--border-radius);
    padding: 12px;
}