.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body {
    width: 100%;
    padding: 16px;
    background-color: rgb(var(--foreground-color));
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
}

.dimmer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}