.input {
    width: 100%;
    padding: 16px;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    background-color: rgb(var(--input-color));
    outline: none;
    font-size: 0.75rem;
    color: rgb(var(--primary-color));
    cursor: pointer;
    transition: border var(--transition-duration);
}

.input::placeholder {
    color: rgb(var(--secondary-color));
}

.input:hover {
    border-color: rgba(var(--primary-color), 0.2);
}

.input:focus {
    border-color: rgba(var(--primary-color), 0.5);
}
