.card {
    background-color: rgb(var(--foreground-color));
    border-radius: var(--border-radius);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    --color: var(--primary-color);
}

.card.income {
    --color: var(--income-color)
}

.card.expense {
    --color: var(--expense-color)
}

.card.accent {
    --color: var(--accent-color)
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total {
    color: rgb(var(--color));
    text-shadow: 0 0 16px rgba(var(--color), 0.3);
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 16px;
}